body {
    box-sizing: border-box;
    background-color: white;
}

.cover-image {
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg");
    background-repeat: none;
}

.cover-parent {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center; 
    padding-top: 15%;
    padding-bottom: 2.5%;
}

.logo {
    align-content: space-around;
    margin-bottom: 2%;
}

.welcome-header {
    justify-content: center;
    align-self: center;
}

.heading-1 {
    color: white;
    text-align: center;
    align-self :center;
}

.heading-2 {
    text-align: center;
}

.portfolio-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 2%;
}

.image-1-descr {
    display: none;
}
#panel {
    padding: 50px;
}

