body {
    box-sizing: border-box;
    background-color: white;
}

.cover-image {
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg");
    background-repeat: none;
}

.cover-parent {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center; 
    padding-top: 15%;
    padding-bottom: 2.5%;
}

.logo {
    align-content: space-around;
    margin-bottom: 2%;
}

.welcome-header {
    justify-content: center;
    align-self: center;
}

.heading-1 {
    color: white;
    text-align: center;
    align-self :center;
}

.heading-2 {
    text-align: center;
}

.portfolio-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 2%;
}

.image-description-1 {
    position: relative;
    text-align: center;

}

.image-description-1:hover {
    opacity: 0.6;
}

.image-title-1 {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 5px solid white;
    border-radius: 7px;
}

.image-description-2 {
    position: relative;
    text-align: center;

}

.image-description-2:hover {
    opacity: 0.6;
}

.image-title-2 {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 5px solid white;
    border-radius: 7px;
}
.image-description-3 {
    position: relative;
    text-align: center;

}

.image-description-3:hover {
    opacity: 0.6;
}

.image-title-3 {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 5px solid white;
    border-radius: 7px;
}
.image-description-4 {
    position: relative;
    text-align: center;

}

.image-description-4:hover {
    opacity: 0.6;
}

.image-title-4 {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 5px solid white;
    border-radius: 7px;
}
.image-description-5 {
    position: relative;
    text-align: center;

}

.image-description-5:hover {
    opacity: 0.6;
}

.image-title-5 {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 5px solid white;
    border-radius: 7px;
}
.image-description-6 {
    position: relative;
    text-align: center;

}

.image-description-6:hover {
    opacity: 0.6;
}

.image-title-6 {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 5px solid white;
    border-radius: 7px;
}
.image-description-7 {
    position: relative;
    text-align: center;

}

.image-description-7:hover {
    opacity: 0.6;
}

.image-title-7 {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 5px solid white;
    border-radius: 7px;
}
.image-description-8 {
    position: relative;
    text-align: center;

}

.image-description-8:hover {
    opacity: 0.6;
}

.image-title-8 {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 5px solid white;
    border-radius: 7px;
}
.portfolio-image-1 {
    margin-bottom: 2%;
    margin-right: 2%;
}

.portfolio-image-2 {
    margin-right: 2%;
    margin-bottom: 2%;
}


